body {
  font-family: sans-serif;
  margin: 20px;
}

h2 {
  margin-bottom: 20px;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #1c2c3c;
}

form {
  margin-bottom: 20px;
  align-content: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #b04141;
  border-radius: 5px;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categories-list {
  width: 40%;
}

.category-form {
  width: 50%;
}